{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="jumbotron text-center mx-auto text-white m-3 " style="background-color:rgba(0, 0, 0, 0.5);">
            <img class="pull-left mr-2" src="{{ user.avatar(128) }}" alt="Profile Pic">
            <h1 class="display-4 m-1 text-white"> {{ user.username }} </h1>
            
            <ul class="list-inline">
                <li class="list-inline-item"> {{ user.followers.count() }} Followers </li>
                <li class="list-inline-item"> {{ user.followed.count() }} Following </li>
            </ul>

            {% if user.last_seen %}
                <small class="text-white"> Last Seen: {{ user.last_seen }} </small>
            {% endif %}
            <br>
            <br>
            <p class="lead m-2">
                {% if user.about_me %}
                    {{ user.about_me }}
                {% else %}
                    {{user.username }}!, Tell us about you. Make a little desciption about who you are to help other people to meet you!
                {% endif %}
            </p>

            {% if user == current_user %}
                <a class="btn btn-info" href="{{ url_for('edit_profile') }}"> Edit Profile </a>
            {% elif not current_user.is_following(user) %}
                <form action="{{ url_for('follow', username=user.username) }}" method='post'>
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Follow', class_="btn btn-info") }}
                </form>
            {% else %}
                <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Unfollow', class_="btn btn-warning") }}
                </form>
            {% endif %}

            <hr class='my-4'>
            
            {% for post in posts %}
                <p> 
                    <img src="{{ post.author.avatar(36) }}" alt=""> <i> {{ post.author.username }} says: </i> {{ post.body }}
                </p>
            {% endfor %}

        </div>
    </div>

{% endblock %}